<aside class="right-sidebar">
    <!-- Home Card -->
    <div class="card home-card">
        <div class="card-image-wrapper">
            <img src="/images/Home Image.png" alt="Home Image" class="card-image"><br>
        </div>
        <div class="card-content">
            <% if (community) {%>
            <div class="card-heading">
                <h2><%=community%></h2>
            </div>
            <p>Welcome to the <%=community%> community!</p>
            <% } else { %>
                <div class="card-heading">
                    <h2>Home</h2>
                </div>
            <p>This is the home page of Stellar Nexus! Navigate around by clicking what you see.</p>
            <% } %>
        </div> 
    </div>
  
    <!-- Contact Us Card -->
    <div class="card contact-card">
      <h2>Contact Us!</h2>
      <p>For any concerns with the forum, please send an email to the developers:</p>
      <div class="contact-list-wrapper">
        <ul>
            <li>Marvin Ivan Mangubat<br>marvin_mangubat@dlsu.edu.ph</li>
            <li>Radny Intino<br>radny_intino@dlsu.edu.ph</li>
            <li>Russell Emmanuel Galan<br>russell_galan@dlsu.edu.ph</li>
        </ul>
    </div>
    </div>
  </aside>