<aside class="sidebar">
    <div class="sidebar-card">
    <h2>Communities</h2>
    <ul>
        <li>
        <img src="/images/General.png" alt="General" />
        <a href='/c/General/posts'>General</a>
        </li>
        <li>
        <img src="/images/Technology.png" alt="Technology" />
        <a href='/c/Technology/posts'>Technology</a>
        </li>
        <li>
        <img src="/images/Arts.png" alt="Arts" />
        <a href='/c/Arts/posts'>Arts</a>
        </li>
        <li>
        <img src="/images/Science.png" alt="Science" />
        <a href='/c/Science/posts'>Science</a>
        </li>
        <li>
        <img src="/images/Marketplace.png" alt="Marketplace" />
        <a href='/c/Marketplace/posts'>Marketplace</a>
        </li>
    </ul>
    </div>
</aside>