<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>Stellar Nexus</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!--Content-->
    <div class="content-wrapper">
        <%- include('partials/sidebar-left') %>

        <div class="main-content">

            <div class="about-info">
                <h1>About</h1>
                <div>
                    <p>Packages used:</p><br>
                    <ul style="margin-left: 3em;">
                        <li>Bcrypt</li>
                        <li>Cookie-parser</li>
                        <li>EJS</li>
                        <li>Express</li>
                        <li>Express-session</li>
                        <li>Express-fileupload</li>
                        <li>Mongoose</li>
                    </ul>
                </div>
            </div>
<br>
            

            
        </div>


        <aside class="right-sidebar"> </aside>
    </div>

</body>
</html>